/* .header {
    padding: 80px; 
    text-align: center; 
    background: black; 
    color: blanchedalmond; 
  } 
  */
    /* .header h1 {
    font-size: 40px;
  }
  body{
      background-color: black;
      color: blanchedalmond;
  }
  .navibar {
    overflow: hidden; 
    background-color:#1f007f91; 

  } */
  /* .navibar a {
    float: left; 
    display: block; 
    color:blanchedalmond; 
    text-align: center; 
    padding: 8px 43px; 
    text-decoration: none; 
    margin-bottom: 17px;
  }
  .navibar a.right {
    float: right; 
  }
  
  .navibar a:hover {
    background-color:rgb(138, 138, 138); 
    }
  li {
list-style: none;  
} */
